.admin-page {
    padding: 2em;
    background-color: #fff;
}

.admin-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    max-width: 600px;
    margin: auto;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.admin-form input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-form button {
    background-color: #E5383B;
    color: white;
    border: none;
    padding: 0.75em;
    border-radius: 4px;
    cursor: pointer;
}

.admin-title {
    text-align: center;
    color: #E5383B;
}

#subject {
    border: #ccc 1px solid;
    border-radius: 5px;
}

#subject option {
    padding: 0.5em;
}

#subject:focus {
    outline: none;
}

#all-stem-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.year-checkbox {
    margin-right: 0.5em;
}

.year-checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

input[type="checkbox"] {
    cursor: pointer;
    accent-color: #E5383B;
    transform: scale(1.5);
}

#year-label {
    /* font-weight: bold; */
    margin-bottom: 0;
}