#results-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.results-table {
    border-collapse: collapse;
    width: 100%;
}

.results-table a{
    text-decoration: underline;
}

.results-table a:visited{
    color: #E5383B;
}

.results-table th,
.results-table td {
    padding: 0.5em;
    text-align: center;
    white-space: nowrap;
}

a {
    align-items: center;
}

.results-table th {
    background-color: #E5383B;
    color: white;
}

.results-table tbody tr:nth-child(even) {
    background-color: #D9D9D9;
}

.results-table td:not(:last-child) {
    border-right: 2px solid #BAB5B5;
}

@media (max-width: 600px) {
    .results-table th,
    .results-table td {
        font-size: 0.5em;
    }
}